<%- include("partials/header") -%>

<section class="main-section">

<div class="firstbox">
  <h1><b>H</b>appy <b>S</b>crolling!</h1>
  <center>
    <div class="m-3">
    <a class="btn p-2" id="askQuestion" href="/blogsubmit">Write a Blog</a>
  </div>
  <div class="searchBar my-3">
    <form class="form-inline-flex" action="/blog/search" method="post">
      <input id="searchInput" class="form-control mr-2" autocomplete="off" type="search" name="search" placeholder="Search" aria-label="Search" required>
      <button class="btn" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  
</center>
</div>


<% BlogPost.forEach(function(item) { %>
  <div class="secondbox col-lg-4 col-sm-4 col-md-4 bg p-4 my-5">
    <div class="row">
      <div class="col-2 text-center">
        <div class="row">
          <div class="mx-auto">
            <img class="profileImg" src="<%= item.thumbnail %>" alt="">
          </div>
          
        </div>
        <div class="row my-4">
          <div class="dropdown mx-auto">
            <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-left dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
              <form action="/blog/report" method="post">
                <button type="submit" name="reportId" value="<%= item._id %>" class="dropdown-item">Report</button>
              </form>
            </div>
            </div>
        </div>
        
        
      </div>
      <div class="col">
        
            <h6>Title</h6>
        
      <p ><%= item.title %></p>
      
      <h6>Description</h6>
      <p class="blogD"><%= item.content %></p>
      </div>
      </div>

      
     
      <div class="row">
        <div class="col">
          <p class="postBy m-0">~by <%= item.by %> </p>
        </div>
        <div class="col">
          <p class="postBy m-0 float-right date"><%= item.postDate %></p>
        </div>
      </div>
    </div>
<%  });%>


</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<%- include("partials/footer")-%>
