<%- include("partials/header") -%>


<section class="main-section">
  <div class="firstbox">
   
    <center>
        <a class="btn p-2" id="askQuestion" href="/ask_question">Ask Question</a>
        <div class="searchBar my-3">
          <form class="form-inline-flex" action="/questions/search" method="post">
            <input id="searchInput" class="form-control mr-2" autocomplete="off" type="search" name="search" placeholder="Search" aria-label="Search" required>
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
</center>
    
</div>





<div class="container my-5">

    
        <% questions.forEach(function(question) { %> 
            <a href="/<%= question.title %>">
                <div class="bg question p-3 my-2">
                    <div class="row">
                        <div class="col-9">
                            <h5>>>&nbsp;&nbsp;&nbsp;<%= question.title.substring(0, 60)+ " ..." %> </h5>
                        </div>
                        
                        <div class="col-3 text-right">
                        <div class="d dropdown">
                          <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuButton">
                            <form action="/questions/report" method="post">
                              <button type="submit" name="reportId" value="<%= question._id %>" class="dropdown-item reportBtn">Report</button>
                            </form>
                          </div>
                          </div>
                      </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <p><%= question.description.substring(0, 125)+ " ..."%></p>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="postBy m-0">~by <%= question.by %> </p>
                      </div>
                      <div class="col">
                        <p class="postBy m-0 float-right date"><%= question.postDate %></p>
                      </div>

                    </div>
               </div>
           </a>    
         <% }); %>  
    
    

</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<%- include("partials/footer") -%>


