<%- include("partials/header") -%>



  <div class="firstbox">
    <center>
        <a class="btn p-2" id="askQuestion" href="/ask_question">Ask Question</a>
        <div class="searchBar my-5">
          <form class="form-inline-flex" action="/questions/search" method="post">
            <input id="searchInput" class="form-control mr-sm-2" autocomplete="off" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
</center>
    
</div>



<div class="container my-5">

    
        <% questions.forEach(function(question) { %> 
            <a href="/<%= question.title %>">
                <div class="bg question p-3 my-2">
                    <div class="row">
                        <div class="col">
                            <h5><%= question.title %> </h5>
                        </div>
                        
                        <div class="col text-right">
                        <div class="d dropdown">
                          <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form action="/questions/report" method="post">
                              <button type="submit" name="reportId" value="<%= question._id %>" class="dropdown-item">Report</button>
                            </form>
                          </div>
                          </div>
                      </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <p><%= question.description.substring(0, 140)+ " ..."%></p>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="postBy m-0">~by <%= question.by %> </p>
                      </div>
                      <div class="col">
                        <p class="postBy m-0 float-right date"><%= question.postDate %></p>
                      </div>

                    </div>
               </div>
           </a>    
         <% }); %>  
    
    

</div>



<%- include("partials/footer") -%>


