<%- include("partials/header") -%>
<div class="container p-4 my-5">
<div class="container bg p-4 my-2">
    
        <label for="">Title</label> 
        <h5 class="my-2 blogD"><%= title %> </h5>
    
        
        <hr>


         <label for="">Description</label>
        <p class="my-2 blogD"><%= description %> </p>
      
        
        <hr>
       
        <label for="">Code</label>
        <p class="code p-3"><%= code %> </p>

</div>

<div class="container bg p-4 my-2">
        <h4 class="my-2">Answers</h4>
        
        <hr>
        
        
    <% answers.forEach(function(answer) { %> 
              
        <div class="title border">
            <div class="row">
                <div class="col">
                    <p class="blogD"><%= answer.description %> </p>
                </div>
                
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p class="code p-3 blogD"><%= answer.code %> </p>
                </div>
                
            </div>
       </div>
      
 <% }); %>  

       
        

</div>

<div class="container bg p-4">
        <h4 class="my-2">Your Answer</h4>
        <form action="/questions/<%= _id %>" method="post">
                <div class="form-group">
                    <label for="">Answer Description</label>
                    <textarea class="form-control" name="answerDescription" id="" cols="auto" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Code</label>
                    <textarea class="form-control" name="answerCode" id="" cols="auto" rows="3"></textarea>
                </div>
                <button class="btn btn-primary" type="submit" name="button">Post Your Answer</button>
            </form>

        </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%- include("partials/footer") -%>